* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  --webkit-font-smoothing: antialiased;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
  }
  
  .container header {
    margin: 84px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
  }

  .container header div {
    display: flex;
    align-items: center;
  }
  
  .container input {
    width: 50%;
    padding: 24px;
  
    background: #e6e6e6;
    border-radius: 5px;
    border: none;
  
    font-size: 16px;
  }
  
  .container button {
    width: 50%;
    padding: 24px;
  
    font-weight: 700;
  
    background: #ea4c89;
    color: #fff;
  
    border-radius: 5px;
    margin: 12px 0 20px;
    border: none;
  
    cursor: pointer;
    transition: filter 0.2s;
  
    font-size: 16px;
  }
  
  .container button:hover {
    filter: brightness(0.9);
  }
  
  .cartaoItem {
    
    padding: 24px;
    margin: 10px;
    width: 50%;

    border-radius: 5px;
  
    font-size: 16px;
  }

  .link{
    cursor: pointer
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 24px;
    margin: 10px;
    width: 100%;
  
    color: #000;
    background: #E4D2F8;
    border-radius: 5px;
    border: none;

    word-break: break-word;

    font-size: 16px;
  }

  .painelBotoes{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .painelTextoItem{
    width: 90%;
    max-width: 60ch;
  }
